.signup-div {
    margin-bottom: 100px;
}

.signup-box-container {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.signup-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid;
    width: 400px;
    padding: 10px 0;
}

.signup-button {
    width: 200px;
    margin: 2vh auto;
}

.signup-box input,
select {
    margin: 5px 15px;
    padding: 5px;
}

.have-account-bar {
    border: 1px solid;
    width: 400px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.have-account-bar button {
    border-radius: 13px;
    padding: 5px;
    margin: 5px;
}

.form-group {
    display: flex;
    align-items: center;
}

.form-group label {
    width: 150px;
    text-align: right;
}

.form-group input,
.form-group select {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 4px;
}