.search-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 30px;
  }
  
.searchBar {
    width: 230px;
    border: 3px solid var(--title-txt);
    border-right: none;
    padding: 5px;
    height: 21px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchBar:focus {
    color: var(--title-txt);
}

#searchButton {
    width: 40px;
    height: 36px;
    border: 2px solid var(--title-txt);
    background: var(--title-txt);
    text-align: center;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}