body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  --bg-cream: #FDF4E3;
  --bg-blue: #CDDEEE;
  --bg-org: #FC3D03;
  --title-txt: #FF8300;

}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-cream);
  color: grey;
}

a {
  color: grey;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a>div {
  padding: 2vh 0;
}

/* "alt" text for link */
.alt_box {
  border: 1px solid var(--title-txt);
  position: absolute;
  color: white;
  background-color: var(--title-txt);
}

em {
  border-bottom: 1px solid grey;
  font-weight: bold;
  font-style: normal;
}

h3 {
  padding: 5vh 2vw 0 2vw;
}

/* hover text buttons */
.hover {
  border: 2px solid grey;
  background-color: var(--title-txt);
  color: black;
  border-radius: 15px;
  text-align: center;
  white-space: nowrap;
  padding: 1vh 1vw;
  font-weight: bold;
  text-decoration: none;
  margin: 10px 5px;
}

.hover:hover {
  border: 2px solid var(--title-txt);
  background-color: var(--bg-cream);
  color: var(--title-txt);
}

.hover>a:link,
.hover>a:visited {
  text-decoration: none;
  color: black;
}

.hover>a:hover {
  color: var(--title-txt);
}

.error-message {
  color: red;
}

.success-message {
  color: green;
}

.filter-dropdown {
	margin-left: 20px;
	width: 190px;
	border: 3px solid var(--title-txt);
	padding: 5px;
	height: 36px;
	border-radius: 5px;
	outline: none;
	color: black;
	white-space: nowrap;
	font-weight: bold;
  margin-right: 0;
}